body {
	display: flex;
	flex-direction: column;
	text-align:center;
	align-items:center;
	height: 100vh;
	gap: 10px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #313;
	color: #eee;
	}

input, button {
	margin-top: 20px;

	}
h1 {
	color: lightblue;
	display: flex;
	justify-content:center;
	text-align: center;
	margin: 0;
	padding: 20px;
	margin-bottom: 100px;
	}
form div {
	margin-bottom: 10px;
	}
label {
	display: block;
	margin-bottom: 5px;
	}
.lista {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 600px;
	text-align: left;
	background-color: #413;
	border: 1px solid #213;
	border-radius:8px;
	margin-bottom: 5px;
	padding: 15px;
	}
.lista h2 {
	text-align: center;
	color:lightblue;
	}


